<!-- <div [@routerTransition]>
    <app-page-header [heading]="'Bootstrap Grid'" [icon]="'fa-wrench'"></app-page-header>

    <div class="row">
        <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-12
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-2
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
        <div class="col-xl-1 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-1
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-8 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-8
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-4
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->

    <!-- <div class="row">
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
        <div class="col-xl-6 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-6
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
                    .col-xl-3
                </div>
            </div>
        </div>
    </div> -->
    <!-- /.row -->
<!-- </div> -->
