<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular8</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="newUser.firstName" class="form-control input-underline input-lg" name="Full Name" id="" placeholder="{{ 'Full Name' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="newUser.email" class="form-control input-underline input-lg" name="Email" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="newUser.password" class="form-control input-underline input-lg" name="Password" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="newUser.repeatPassword" class="form-control input-underline input-lg" name="Repeat Password" id="" placeholder="{{ 'Repeat Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onSignup()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div>
